
<%= form_for @post do |f| %>

<p>
  <%= f.hidden_field :user_id, :value => @postuserid %>
</p>

<p>
  <%= f.text_field :title, placeholder: 'title' %>
  <% if @post.errors.messages[:title].any? %>
  <span class="error"><%= @post.errors.messages[:title][0] %></span>
  <% end %>
</p>

<p>
  <%= f.text_area :body, placeholder: 'body' %>
  <% if @post.errors.messages[:body].any? %>
  <span class="error"><%= @post.errors.messages[:body][0] %></span>
  <% end %>
</p>

<p><%= f.submit %></p>

<% end %>